# Dependencias
node_modules/

# Variables de entorno
.env
.env.local
.env.*.local

# Build / distribución
dist/
build/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/
.idea/

# Prisma
prisma/migrations/.cache
